<link href="../../css/page.css" rel="stylesheet" />

<div class="container">
    <h1>Why PDQ Solutions?</h1>

    <p>
        A more thorough and comprehensive roadmap does not exist in helping navigate through stressful life events where property is involved.
        Not only is the property evaluated, but personal finances and credit are covered as well. There is no stone left unturned and all options are provided.
        The bottom line is you will be armed with the best, unbiased, unfiltered information and will be equipped to make the best decision
        for you and your situation moving forward - with no unforseen consequences.
    </p>

    <br />

    <p>
        In my 25 years of mortgage lending and real estate experience, there have been countless time in which we had to deliver
        news of, "Not today, but if you do these things, you can qualify in the future." All of these cases took place "after the fact"
        or post-event. Personally experiencing hardship in real estate in three different states during the market crash in 2008 made learning my options
        a tough pill to swallow. Finally, watching friends and family go through divorce or experience death with loved ones and being able to help walk
        them through these situations created the genesis for PDQ Solutions. This is the one area in which I can employ ALL of my proffesional and life experience
        to serve people and hopefully add a little bit of light to their own path.
    </p>

    <h6>About Mike:</h6>
    <p>insert linked in profile link</p>
</div>