<link href="/css/page.css" rel="stylesheet" />

<body>
   
     <div class="container">
<h1>Personal 'Q' Solutions</h1>

<p>Most of us are pre-occupied with getting through today when faced with stressful situations. If our attention is on the here and now, we do not focus
    on future outcomes or potential unintended consequences that may lay ahead. In addition to real property, we take a deep-dive on how these current
    stresses will affect your future goals.</p>

<ul>
<li>How will adverse credit affect me in buying or renting a new home?</li>
<li>Can adverse credit affect my insurance rates?</li>
<li>What else can credit affect?</li>
<li>Will I be able to qualify for a new home, car, or consolidation loan?</li>
<li>How long does it take to recover from poor credit?</li>
</ul>

<p>These are some, but not all of the questions you shoud be asking now. Lenders review three "C's"
    when it comes to <u>your</u> financial situation. It begins with a review of your character/credit history - 
    your willingness and history of making payments of debt on time or in a timely manner. Next is your capaciy to repay the obligation. Your earnings history, 
    type of income and expectation that it will continue as a method to determine your ability to repay the loan. Lastly, capital, or your liquid assets
    are considered. An amount to cover any out of pocket expenses and "reserves" to cover any potential interruptions to income included in this process.</p>

<p>We assist in providing you a thorough review of "where you are today" and what programs or options are available to you. We create a road map to assist you
    in moving forward and asssist in making referrals to trusted professioal services pointed to your desired outcome.</p>
        </div>
</body>