<link href="../../css/page.css" rel="stylesheet" />

<div class="container">
    <h1>Process</h1>

    <p>
        PDQS is not tied to any particular outcome, just the one best for you!
        Our mission is to provide a comprehensive and consultative approach to our clients.
        We view the situation from every angle and outline potential outcomes with both a short-term and long-term view in mind.
        Our desire is that you have a clear and decisive solution for today and the future without suffering unintended consequences.
    </p>

    <p>Proprty quotient</p>

    <p>personal financial quotient</p>
</div>