<link href="../../css/page.css" rel="stylesheet" />

<div class="container">
<h1>Property Solutions</h1>

<ul>
    <li>Are we currently in a buyers or sellers market?</li>
    <li>What drives the price of my home?</li>
    <li>What are other homes in my area selling for and how are they different from mine?</li>
    <li>Do I need to update my house to make it more marketable? Who can best help with this?</li>
    <li>If I dont have $ to fix it up, are there other alternatives?</li>
    <li>Is renting my property an option?</li>
</ul>

<p>All of these questions and more are relevant to any situation where real estate is involved. 
    Most of us believe we only have a few options.
    The truth is, there are many more options than what we typically believe. 
</p>

<br />

<p>Here are a few ideas that can help YOU remedy your current situation</p>

<ol>
    <li>List with a licensed realtor</li>
    <li>List for sale by owner</li>
    <li>Renovate, update, and sell</li>
    <li>Convert property to a rental</li>
    <li>Sell property and lease/rent back from new owner</li>
    <li>Sell property directly to an investor for cash</li>
    <li>Place property for auction</li>
</ol>

<br />

<h4><strong>Unbiased, Unfiltered</strong></h4>

<br />

<p>What you need is <u>Information</u> in order to make the best decision for your current situation.
    The PDQ solution provides you with a 360 degree view from different professionals and different viewpoints. 
    Once you have the information, you can make the best choice for <strong><u>YOU!</u></strong></p>

    </div>
